body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.logo1 {
    height: 58px;
    margin-top: -7px;
    transform: translateX(-30px);
}

.logo2 {
    height: 35px;
    transform: translateX(-30px);
}

nav {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    position: relative;
    padding-bottom: 5px;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00DB8E;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul li a:hover::after {
    width: 100%;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.logo-animation {
    width: 200px;
    height: 50px;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus {
    border-color: #666;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
    outline: none;
}

#enviarButton, #showLogButton, #logoutButton {
    background-color: #00DB8E;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

#enviarButton:hover, #showLogButton:hover, #logoutButton:hover {
    background-color: #555;
}

button {
    background-color: #00DB8E;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

select option:first-child {
    color: #999;
}

#loginContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contentContainer {
    max-width: 600px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#logContainer {
    margin-top: 20px;
}

#logContainer h2 {
    margin-top: 0;
}

#logList {
    list-style: none;
    padding: 0;
}

#logList li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.log{
    transform: translateX(-90px);
}

.excel{
    transform: translateX(358px);
}

